Reduced Row Echleon Form

In [ ]:
from sympy import * 
M = Matrix([[2,4,-2,2], [4,9,-3,8],[-2,-3,7,10]]) 
#Defining a matrix
M_rref = M.rref() 
# function for reduced row echleon form
print("The Reduced Row echelon form of matrix M and the pivot columns : {}".format(M_rref))

The Reduced Row echelon form of matrix M and the pivot columns : (Matrix([
[1, 0, 0, -1],
[0, 1, 0,  2],
[0, 0, 1,  2]]), (0, 1, 2))

Computing Rank of a matrix

In [ ]:
import numpy as np 
A= np.array([[2,4,-2,2], [4,9,-3,8],[-2,-3,7,10]]) 
from numpy.linalg import matrix_rank
# Finding Rank of A Matrix
matrix_rank(A)

3

Finding Row Space , Reduced Row Echleon Form and Column Space

In [ ]:
from sympy import *
M = Matrix([[2,4,-2,2], [4,9,-3,8],[-2,-3,7,10]])
M_rowspace = M.rowspace() #Finding rowspace
M_v= M.rref() # Finding rref
print("Rowspace of a matrix : {}".format(M_rowspace))
print("RREF of a matrix : {}".format(M_v))
print("Columnspace of a matrix : {}".format(M.columnspace())) # Finding columnspace
print("Dimension of row space is ",len(M_rowspace))

Rowspace of a matrix : [Matrix([[2, 4, -2, 2]]), Matrix([[0, 2, 2, 8]]), Matrix([[0, 0, 16, 32]])]
RREF of a matrix : (Matrix([
[1, 0, 0, -1],
[0, 1, 0,  2],
[0, 0, 1,  2]]), (0, 1, 2))
Columnspace of a matrix : [Matrix([
[ 2],
[ 4],
[-2]]), Matrix([
[ 4],
[ 9],
[-3]]), Matrix([
[-2],
[-3],
[ 7]])]
Dimension of row space is  3

Code for computing column space and dimension of column space

In [ ]:
from sympy import *
M = Matrix([[2,4,-2,2], [4,9,-3,8],[-2,-3,7,10]])
M_columnspace = M.columnspace() #Finding columnspace
print("Columnspace of a matrix : {}".format(M_columnspace))
print("Dimension of column space is ",len(M_columnspace))

Columnspace of a matrix : [Matrix([
[ 2],
[ 4],
[-2]]), Matrix([
[ 4],
[ 9],
[-3]]), Matrix([
[-2],
[-3],
[ 7]])]
Dimension of column space is  3

In [ ]:
from sympy import *
M = Matrix([[2,4,-2,2], [4,9,-3,8],[-2,-3,7,10]])
print("Matrix : {} ".format(M))
# .nullspace for nullspace
M_nullspace = M.nullspace()
print("Nullspace of a matrix : {}".format(M_nullspace))
print("Dimension of null space is",len(M_nullspace))

Matrix : Matrix([[2, 4, -2, 2], [4, 9, -3, 8], [-2, -3, 7, 10]])
Nullspace of a matrix : [Matrix([
[ 1],
[-2],
[-2],
[ 1]])]
Dimension of null space is 1

Reduced Row echleon Form of No solution Matrix

In [ ]:
from sympy import * 
M = Matrix([[1, 2, 4 ,6], [0,1,1,1], [1 ,3, 5, 10]]) 
print("Matrix : {} ".format(M)) 
M_rref = M.rref() 
print("The Reduced Row echelon form of matrix M and the pivot columns: {}".format(M_rref))

Matrix : Matrix([[1, 2, 4, 6], [0, 1, 1, 1], [1, 3, 5, 10]])
The Reduced Row echelon form of matrix M and the pivot columns: (Matrix([
[1, 0, 2, 0],
[0, 1, 1, 0],
[0, 0, 0, 1]]), (0, 1, 3))

Solving Equations

In [ ]:
from sympy import symbols, Eq, solve 
#Solving equations
x, y,z = symbols('x y z ') 
eq1 = Eq(x+2*y+3*z-1 , 0) 
eq2 = Eq(x+y+4*z+7, 9) # Equation and value
eq3 = Eq(2*x+y+5*z-2, 0) 
solve((eq1,eq2,eq3), (x, y,z))

{x: -3/4, y: -1/4, z: 3/4}

Solving Equations Zero Solution

In [ ]:
from sympy import symbols, Eq, solve 
x, y = symbols('x y ') 
eql = Eq(x+3*y-1 , 0) 
eq2 = Eq(2*x+y+7, 0) 
eq3 = Eq(6*x+y-2, 0) 
eq4 = Eq(5*x+y-1, 0) 
solve((eql,eq2,eq3,eq4), (x, y)) # no solution

[]

Solving One Solution

In [ ]:
from sympy import symbols, Eq, solve 
x, y = symbols('x y ')
eq1 = Eq(x+3*y-4, 0) 
eq2 = Eq(2*x+y-3, 0)
eq3 = Eq(6*x+y-7, 0) 
eq4 = Eq(5*x+y-6, 0) 
solve((eq1,eq2,eq3,eq4), (x, y))# One Solution

{x: 1, y: 1}

Case m < n Infinitely Many Solutions 
I and F not overlapped

In [ ]:
from sympy import*
 
M = Matrix([[1,2,6,5],[3,1,1,1]])
print( "Matrix : {} ".format(M))
M_rref = M.rref()
print("The Reduced Row echelon form of matrix Mand the pivot columns	{}".format(M_rref))

Matrix : Matrix([[1, 2, 6, 5], [3, 1, 1, 1]])
The Reduced Row echelon form of matrix Mand the pivot columns	(Matrix([
[1, 0, -4/5, -3/5],
[0, 1, 17/5, 14/5]]), (0, 1))

In [ ]:
from sympy import symbols, Eq, solve 
x, y,z,w = symbols('x y z w')
eql = Eq(x+2*y+6*z+5*w-3, 0)
eq2 = Eq(3*x+y+z+w-4, 0) 
solve((eql,eq2), (x, y,z,w))

{x: 3*w/5 + 4*z/5 + 1, y: -14*w/5 - 17*z/5 + 1}

I and F overlapped

In [ ]:
from sympy import*
M = Matrix([[1,2,6,5,3],[1,2,1,1,4]])
print( "Matrix : {} ".format(M)) 
M_rref = M.rref()
print("The Reduced Row echelon form of matrix Mand the pivot columns	{}".format(M_rref))

Matrix : Matrix([[1, 2, 6, 5, 3], [1, 2, 1, 1, 4]])
The Reduced Row echelon form of matrix Mand the pivot columns	(Matrix([
[1, 2, 0, 1/5, 21/5],
[0, 0, 1, 4/5, -1/5]]), (0, 2))

In [ ]:
from sympy import symbols, Eq, solve 
x, y,z,w = symbols('x y z w')
eql = Eq(x+2*y+6*z+5*w-3, 0) 
eq2 = Eq(x+2*y+z+w-4, 0) 
solve((eql,eq2), (x, y,z,w))

{x: -w/5 - 2*y + 21/5, z: -4*w/5 - 1/5}

lnflitely many solutions

In [ ]:
from sympy import*
M = Matrix([[1, 2, 2, 2,1], [2, 4, 6, 8,2], [3, 6, 8, 10,3]])
print( "Matrix : {} ".format(M)) 
M_rref = M.rref()
print("The Reduced Row echelon form of matrix Mand the pivot columns	{}".format(M_rref))

Matrix : Matrix([[1, 2, 2, 2, 1], [2, 4, 6, 8, 2], [3, 6, 8, 10, 3]])
The Reduced Row echelon form of matrix Mand the pivot columns	(Matrix([
[1, 2, 0, -2, 1],
[0, 0, 1,  2, 0],
[0, 0, 0,  0, 0]]), (0, 2))

In [ ]:
from sympy import symbols, Eq, solve 
x, y,z,w = symbols('x y z w')
eq1 = Eq(x +2*y+2*z+2*-w-1 , 0) 
eq2 = Eq(2*x+4*y+6*z+8*w-2, 0) 
eq3 = Eq(3*x+6*y+8*z+10*w-3, 0) 
solve((eq1,eq2,eq3), (x, y,z,w))

{x: 1 - 2*y, z: 0, w: 0}

1. ![Screenshot 2022-12-06 233558.png]()

In [ ]:
from  sympy import symbols, Eq, solve
u, v,q = symbols('u,v,w')
eq1= Eq(u+2*v+2*w,1)
eq2= Eq(2*u+4*v+5*w,4)
solve((eq1,eq2,eq3),(u,v,w))

[]

2.
![Screenshot 2022-12-06 233720.png]()

![Screenshot 2022-12-06 233636.png]()

In [ ]:
import numpy as np
A = np.array([[2,-1,3],[4,-2,1],[2,1,0]])
from numpy.linalg import matrix_rank
c=matrix_rank(A)
print("The rank of the matrix is {}" .format(c))
from sympy import *
M = Matrix([[2,-1,3],[4,-2,1],[2,1,0]])
M_columnspace = M.columnspace()
M_nullspace = M.nullspace()
print("The dimension of null space is {}" .format(len(M_nullspace)))
print("The dimension of column space is {}" .format(len(M_columnspace)))
d=len(M_columnspace)-c
print("The number of baic variables is {}" .format(len(M_columnspace)))
print("The number of free variables is {}" .format(d))

The rank of the matrix is 3
The dimension of null space is 0
The dimension of column space is 3
The number of baic variables is 3
The number of free variables is 0